<div *ngIf="diets.length > 0">
  <ion-list lines="none">
    <ion-item *ngFor="let item of diets" detail="false">
        <ion-thumbnail slot="start" [routerLink]="['/ddetails', item.id]">
            <ion-img [src]="item.image | image"></ion-img>
          </ion-thumbnail>
      <ion-label [routerLink]="['/ddetails', item.id]">{{item.title}}</ion-label>
      <ion-icon (click)="removeFromFavorites(item.id)" name="md-close" mode="ios" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
  
</div>

<p *ngIf="diets.length === 0">{{strings.ST67}}</p>