<ion-header class="lightheader" no-border>
    <ion-toolbar mode="ios">
        <ion-title class="ion-text-capitalize">
          {{title}}
        </ion-title>
              <ion-buttons slot="start">
                <app-backbutton color="dark"></app-backbutton>
              </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <app-loading *ngIf="isLoading"></app-loading>
    <app-empty *ngIf="workouts.length === 0" [title]="strings.ST141"></app-empty>
    
    <ion-grid>
        <ion-row>
          <ion-col size="12" *ngFor="let item of workouts" [routerLink]="['/wdetails', item.workout_id]" [ngStyle]="{'height': height}">
             <div class="cardcategory" [style.background-image]="'url(' + (item.workout_image | image) + ')'">
                 <div class="overlay">
                 <div class="texts">
                 <p>{{item.goal_title}}</p>
                 <h1>{{item.workout_title}}</h1>
                 </div>
               </div>
               </div>
          </ion-col>
        </ion-row>
      </ion-grid>
  
  </ion-content>
