.card{
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.card .overlay{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
    position: absolute;
    width: 100%;
    height: 250px;
    justify-content: flex-end;
    align-items: flex-start;
    display: flex;
    flex-flow: column;
    text-align: left;
}

.card .texts{
    padding: 30px 15px;
}

.card .texts p{
    color:var(--ion-color-primary);
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 6px;
}

.card .texts h1{
    color: white;
    margin: 0;
    font-weight: bold;
    font-size: 18px;

}

.cardcategory{
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 8px;
}

.cardcategory .overlay{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
    position: absolute;
    width: 100%;
    height: 100px;
    justify-content: flex-end;
    align-items: flex-start;
    display: flex;
    flex-flow: column;
    text-align: left;
    border-radius: 8px;
}

.cardcategory .texts{
    padding: 15px;
    position: relative;
    display: block;
    width: 100%;
}

.cardcategory .texts h1{
    color: white;
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}