
.grid-bg{
    height: 100%;
    background-image: url('../../../assets/images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.start-logo{
    max-width: 160px;
    margin-bottom: 20px;
}

.margin-h{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.button-h{
    height: 50px;
    font-size: 14px;
    font-weight: bold !important;
}

.color-facebook{
    color: #3b5998 !important;
}